$malachite: #108070;
$english-vermillion: #D33F49;
$thistle: #D7C0D0;
$eggshell: #EFF0D1;
$green-sheen: #77BA99;
$charleston-green: #262730;


$open-sans: 'Open Sans Condensed', sans-serif;
$pathway-gothic: 'Pathway Gothic One', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Pathway Gothic One', sans-serif;

.box {
  background: $green-sheen;
  border: 3px solid $eggshell;
  padding: 40px 80px;
  color: $charleston-green;
  font-family: $open-sans;
  .button {
    font-weight: bold;
    text-align: center;
    background: $eggshell;
    color: $charleston-green;
  }
}
h1 {
  font-size: 48px;
  font-weight: bold;
}

.illness-display {
  display: none;
}

.well {
  font-style: $pathway-gothic;
  background: $eggshell;
  color: $english-vermillion;
  text-align: center;
}

body {
  background: $charleston-green;
}
