$malachite: #108070;
$english-vermillion: #D33F49;
$thistle: #D7C0D0;
$eggshell: #EFF0D1;
$green-sheen: #77BA99;
$charleston-green: #262730;

.box {
  background: $green-sheen;
  border: 3px solid $eggshell;
  padding: 40px 80px;
  color: $charleston-green;
  text-align: center;
  .button {
    font-weight: bold;
    text-align: center;
    background: $eggshell;
    color: $charleston-green;
  }
}



body {
  background: $charleston-green;
}
